{% load static %}
{% load crispy_forms_tags %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<form action="" method="post">
    {% csrf_token %}
    <section class="vh-100 gradient-custom">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <p>Registro de usuario</p>
                                <img src="{% static 'images/NavelaBlack.png' %}" alt="logo Navela" class="p-3">
                                <h5>Complete todos los campos</h5>

                                <!-- Renderizado manual de los campos -->
                                <div class="form-group mb-4">
                                    <label for="id_username">Nombre de usuario</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group mb-4">
                                    <label for="id_email">Correo electrónico</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group mb-4">
                                    <label for="id_password1">Contraseña</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="form-group mb-4">
                                    <label for="id_password2">Confirmar contraseña</label>
                                    {{ form.password2 }}
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Registrarse</button>
                            </div>
                            <div class="pb-5">
                                <a href="{% url 'login' %}" class="text-white-50 fw-bold">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <style>
        .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
/*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));*/

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: lightslategray ;
}
    </style>